* {

    margin: 0;
    padding: 0;

}
body{
    background-color: antiquewhite;
}

.cabecalho{ 
    padding: 15px;
    background-color: coral;
    text-align: center;
}
.link{
    padding: 15px;
    margin: 10px 15px;
}

.white{
    color: white;
}

.tecWord{
    margin: 15px;
    color: 4e4e4e;
  
}
a{
    text-decoration: none;
   
    margin: 10px 15px;
}
a:visited{
    color: aliceblue;
}
a:link{
    color: white;
}
a:hover{
    color: brown;
    background-color: antiquewhite;
}

h1{
    font-size: 2.5em;
}

#area-postagens{
    width: 660px;
    float: left;
}

.bors{
    border: red solid;
}

.area-lateral{
    
    
    width: 200px;
    float: right;
}

#AreaPrincipal {
  
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    
  
}

.rodape{
    text-align: center;
    clear: both;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 100%;
    background-color: coral;
}

    
        
    

